[Desktop Entry]
Type=Application
Name=Arduino IDE v2
GenericName=Arduino IDE v2
Comment=Open-source electronics prototyping platform
Exec=env ELECTRON_OZONE_PLATFORM_HINT=x11 arduino-ide %U
Icon=arduino-ide-v2
Terminal=false
MimeType=text/x-arduino;
Categories=Development;IDE;Electronics;
Keywords=embedded electronics;avr;microcontroller;
StartupWMClass=Arduino IDE
